@page
@model Sawmill.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Головна сторінка";
    decimal nAll = 0;
    decimal sumAll = 0;
    int num = 0;
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/Home.css">
    <meta name="viewport" content="width=device-width" />
    <style>

        table {
            max-width: 90%;
            margin: 10px 5px 20px 5px;
            background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
            box-shadow: 10px 10px 30px aqua;
            border: 3px solid aqua;
        }

        th, td {
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid aqua;
            color: aqua;
            font-weight: normal;
        }

        .row {
            margin: 20px auto;
            width: fit-content;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid aqua;
            padding: 10px;
            background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
            box-shadow: 10px 10px 30px aqua;
            color:aqua;
        }
        .btn-custom{
            color:aqua;
            background-color: darkred;
            border-color:aqua;
        }
        .btn-custom:hover{
            background-color:red;
        }
    </style>
</head>

<body>
    <div class="container">
           
        @{
            var errorMessage = TempData["ErrorMessage"] as string;
        }

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="row">
                <h2> @errorMessage </h2>
            </div>

        }
        else
        {
            <div class="row">
                <h2> Формування замовлення </h2>
            </div>
        }

        <div>
            <a asp-page="Create" class="button">
                <span class="button_text">
                    <span> <b>Додати елемент</b></span>
                </span>
            </a>
        </div>

        <table>

            <thead>
                <tr>
                    <th>
                        <p>№ п/п</p>
                    </th>
                    <th>
                        Назва
                    </th>
                    <th>
                        Вис.<p>(мм.)</p>
                    </th>
                    <th>
                        Шир.<p>(мм.)</p>
                    </th>
                    <th>
                        Довж.<p>(м.)</p>
                    </th>
                    <th>
                        <div>К-сть</div>
                        <div>(шт.)</div>
                        <div>(м/п)</div>
                    </th>
                    <th>
                        Об'єм<p>(м.куб)</p>
                    </th>
                    <th>
                        Ціна<p>(грн.)</p>
                    </th>
                    <th>
                        Сума<p>(грн.)</p>
                    </th>
                    <th>
                        <p>Редагувати</p>
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Order)
                {
                    @if (item.SessionId == GlobalVariables.SessionId && item.NumberId == 0)
                    {
                        decimal h = Convert.ToDecimal(item.Висота);
                        decimal w = Convert.ToDecimal(item.Ширина);
                        decimal l = Convert.ToDecimal(item.Довжина);
                        decimal n = Convert.ToDecimal(item.Кількість);
                        decimal volume = h * w * l * n / 1000000;
                        decimal sum = volume * item.Ціна;
                        nAll += volume;

                        sumAll += sum;
                        num++;
                        sumAll = Convert.ToInt32(sumAll);

                        <tr>
                            <td>
                                @num
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Назва)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Висота)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ширина)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Довжина)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Кількість)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => volume)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ціна)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => sum)
                            </td>
                            <td style="line-height:2">
                                <div>
                                    <a asp-page="./Edit" asp-route-id="@item.OrderId">
                                        <b>Змінити</b>
                                    </a>
                                </div>
                                <div>
                                    <a asp-page="./Delete" asp-route-id="@item.OrderId">
                                        <b style="color:red">Видалити</b>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>

                <tr>
                    <td colspan="6">
                        <b>Всього : </b>
                    </td>
                    <td>
                        <b>@nAll </b>
                    </td>
                    <td>
                        <b></b>
                    </td>
                    <td>
                        <b>@sumAll </b>
                    </td>
                    <td>
                        <b></b>
                    </td>
                </tr>

            </tfoot>

        </table>

        <form method="post">

            <div class="form-group" style="color:red">
                <input type="submit" value="Відправити на підтвердження" class="btn btn-custom" />
            </div>

        </form>

    </div>
</body>
</html>
