@page
@model Sawmill.Pages.Prices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price.ЦінаПиломатеріал)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price.ЦінаПиломатеріал)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price.ЦінаЦиліндр)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price.ЦінаЦиліндр)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price.Дата)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price.Дата)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Price?.Priceid">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
