@page
@model Sawmill.Pages.Prices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price[0].ЦінаПиломатеріал)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price[0].ЦінаЦиліндр)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price[0].Дата)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Price) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ЦінаПиломатеріал)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ЦінаЦиліндр)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Priceid">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Priceid">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Priceid">Delete</a>
                </td>
            </tr>
        } 
    </tbody>
</table>
