@page
@model Пилорама.Pages.Orders.Index1Model
@{
    ViewData["Title"] = "Мої замовлення";
    int[] numb = new int[Model.Order.Count];
    int k = 0;
    decimal nAll = 0;
    decimal sumAll = 0;

    foreach (var item in Model.Order)
    {
        if (item.Замовник == User.Identity.Name)
        {
            numb[k] = item.НомерЗамовлення;
            k++;
        }
    }
    int[] Unumb = numb.Distinct().ToArray();
}

<!DOCTYPE html>



<html>

   <head>
    
    <link rel="stylesheet" href="css/Home.css">

   </head>
  


  <body>

    @if (k != 0) 
    {

        for (int m = 0; m < Unumb.Length - 1; m++)
        {

            int num = 0;
            <h2 style="color:brown">Замовлення №@Unumb[m]</h2>

            <table>


                <thead>
                    <tr>
                        <th>
                            <p>Номер п/п</p>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Назва)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Висота)<p>(мм.)</p>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Ширина)<p>(мм.)</p>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Довжина)<p>(м.)</p>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Кількість)<p>(шт.)||(м/п)</p>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Об_єм)<p>(м.куб)</p>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Ціна)<p>(грн.)</p>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Сума)<p>(грн.)</p>
                        </th>
                        <th>
                            <p>Редагувати</p>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Order)
                    {


                        if (item.Замовник == User.Identity.Name)
                        {
                            decimal h = Convert.ToDecimal(item.Висота);
                            decimal w = Convert.ToDecimal(item.Ширина);
                            decimal l = Convert.ToDecimal(item.Довжина);
                            decimal n = Convert.ToDecimal(item.Кількість);
                            decimal volume = h * w * l * n / 1000000;
                            decimal sum = volume * item.Ціна;
                            nAll += volume;

                            sumAll += sum;
                            num++;
                            sumAll = Convert.ToInt32(sumAll);

                            <tr>
                                <td>
                                    @num
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Назва)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Висота)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ширина)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Довжина)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Кількість)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => volume)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ціна)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => sum)
                                </td>
                                <td>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" style="border: 5px solid gray">
                            <b style="font-size:larger">Всього : </b>
                        </td>
                        <td style="border: 5px solid gray">
                            <b>@nAll </b>
                        </td>
                        <td style="border: 5px solid gray">
                            <b></b>
                        </td>
                        <td sstyle="border: 5px solid gray">
                            <b>@sumAll </b>
                        </td>
                        <td style="border: 5px solid gray">

                        </td>

                    </tr>
                </tfoot>

            </table>
        }

    }

    else
    {
        <h2 style="color:brown; font:bolder">У Вас ще немає замовлень</h2>
    }


  </body>
</html>
