@page
@model Пилорама.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Головна сторінка";
    decimal nAll = 0;
    decimal sumAll = 0;
    int num = 0;
   
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/Home.css">
    <style>
        #addElementButton {
            width: 200px;
            border-radius: 0.3em;
            color: black;
            text-align: center;
            font-size: x-large;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            #addElementButton:hover {
                background-color: lightgray; /* Change the color on hover if needed */
            }
    </style>
</head>

<body>
    <div style="padding-left: 350px">
       <div style=" background-color:burlywood; border-radius: 0.3em; width: 240px">
          <h1>Замовлення </h1>
       </div>
    </div>

    <div id="addElementButton" onclick="toggleBackgroundColor()">
        <a asp-page="Create"><b style="font-size: x-large"> Додати елемент </b></a>
    </div>

    <script>
        var button = document.getElementById("addElementButton");
        var colors = ["yellow", "orange", "white"];
        var currentIndex = 0;

        function toggleBackgroundColor() {
            button.style.backgroundColor = colors[currentIndex];
            currentIndex = (currentIndex + 1) % colors.length;
        }

        // Toggle background color every 2 seconds (adjust the time interval as needed)
        setInterval(toggleBackgroundColor, 1000); // Change color every 2000 milliseconds (2 seconds)
    </script>

                    <table>

                           <thead>
                                <tr>
                                    <th>
                                        <p>Номер п/п</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Назва)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Висота)<p>(мм.)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Ширина)<p>(мм.)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Довжина)<p>(м.)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Кількість)<p>(шт.)||(м/п)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Об_єм)<p>(м.куб)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Ціна)<p>(грн.)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Сума)<p>(грн.)</p>
                                    </th>
                                    <th>
                                        <p>Редагувати</p>
                                    </th>
                                </tr>
                           </thead>
                           <tbody>
                                      
                                 @foreach(var item in Model.Order)
                                 {
                                      @if (item.Замовник == User.Identity.Name && item.НомерЗамовлення == 0)
                                      {
                                              decimal h = Convert.ToDecimal(item.Висота);
                                              decimal w = Convert.ToDecimal(item.Ширина);
                                              decimal l = Convert.ToDecimal(item.Довжина);
                                              decimal n = Convert.ToDecimal(item.Кількість);
                                              decimal volume = h * w * l * n / 1000000;
                                              decimal sum = volume * item.Ціна;
                                              nAll += volume;
                                            
                                              sumAll += sum;
                                              num++;
                                              sumAll = Convert.ToInt32(sumAll);

                                            <tr>
                                                <td>
                                                    @num
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Назва)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Висота)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ширина)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Довжина)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Кількість)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => volume)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ціна)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => sum)
                                                </td>
                                                <td>
                                                  
                                                            <a asp-page="./Edit" asp-route-id="@item.orderId">
                                                               <b>Змінити</b>
                                                            </a> <b>|</b>
                                                            <a asp-page="./Delete" asp-route-id="@item.orderId">
                                                                <b style="color:red">Видалити</b>
                                                            </a>

                                                    
                                                </td>
                                            </tr>
                                      }
                                 }
                           </tbody>
                           <tfoot>

                                         <tr>
                                              <td colspan="6" style="border: 5px solid gray">
                                                  <b style="font-size:larger">Всього : </b>
                                              </td>
                                              <td style="border: 5px solid gray">
                                                  <b>@nAll </b>
                                              </td>
                                              <td style="border: 5px solid gray">
                                                  <b></b>
                                              </td>
                                              <td style="border: 5px solid gray">
                                                  <b>@sumAll </b>
                                              </td>
                                              <td style="border: 5px solid gray; background-color:aqua">
                                                  <b></b>
                                              </td>
                                         </tr>

                           </tfoot>

                    </table>

                <form method="post">

                    <div class="form-group">
                        <input type="submit" value="Відправити на підтвердження" class="btn btn-primary" />
                    </div>

                </form>
               
</body>
</html>
