@page
@model Пилорама.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Головна сторінка";

    int Client = 0;
    int numbZam = 0;
    string Village = "";

    string Phone = "";
    string zam = "";
    int i = 0;
  
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/Home.css">
</head>

<body>

    @if (User.Identity.Name == "Admin@ukr.net")
    {
        if (Model.Number != null)
        {
            string[] client = new string[Model.Number.Count];

            foreach (var name in Model.Number)
            {

                client[i] = name.Замовник1;
                i++;

            }
            string[] Uclient = client.Distinct().ToArray();
            for (int m = 0; m < Uclient.Length; m++)
            {


                foreach (var q in Model.Number)
                {
                    int num = 0;
                    if (q.Замовник1 == Uclient[m] && q.Status == "Підтверджено")
                    {
                        zam = q.Ім_я;
                        numbZam = q.id;
                        Phone = q.Номер_телефону;
                        Village = q.Населений_пункт;
                        <div style="background-color:antiquewhite; width: 600px">
                            <h2 style="color:brown">@zam @Village  тел: @Phone Замовлення№ @numbZam</h2>
                        </div>

                        <table>


                            <thead>
                                <tr>
                                    <th>
                                        <p>Номер п/п</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Назва)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Висота)<p>(мм.)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Ширина)<p>(мм.)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Довжина)<p>(м.)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Кількість)<p>(шт.)||(м/п)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Об_єм)<p>(м.куб)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Ціна)<p>(грн.)</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order[0].Сума)<p>(грн.)</p>
                                    </th>
                                    <th>
                                        <p>Стан замовлення</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    decimal nAll = 0;
                                    decimal sumAll = 0;
                                }

                                @foreach (var item in Model.Order)
                                {
                                    if (q.id == item.НомерЗамовлення)
                                    {
                                        decimal h = Convert.ToDecimal(item.Висота);
                                        decimal w = Convert.ToDecimal(item.Ширина);
                                        decimal l = Convert.ToDecimal(item.Довжина);
                                        decimal n = Convert.ToDecimal(item.Кількість);
                                        decimal volume = h * w * l * n / 1000000;
                                        decimal sum = volume * item.Ціна;
                                        nAll += volume;
                                        Client = item.НомерЗамовлення;
                                        sumAll += sum;
                                        num++;
                                        sumAll = Convert.ToInt32(sumAll);

                                        <tr>
                                            <td>
                                                @num
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Назва)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Висота)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ширина)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Довжина)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Кількість)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => volume)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ціна)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => sum)
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" style="border: 5px solid gray">
                                        <b style="font-size:larger">Всього : </b>
                                    </td>
                                    <td style="border: 5px solid gray">
                                        <b>@nAll </b>
                                    </td>
                                    <td style="border: 5px solid gray">
                                        <b></b>
                                    </td>
                                    <td sstyle="border: 5px solid gray">
                                        <b>@sumAll </b>
                                    </td>
                                    <td style="border: 5px solid gray">    
                                        <b>@q.Status</b>
                                    </td>

                                </tr>
                            </tfoot>

                        </table>
                    }
                }

            }
                <div style="background-color:antiquewhite; width: 400px">
                    <h2 style="color:brown">Список клієнтів</h2>
                </div>
            <table>
                <tbody>
                    <tr>
                        @for (int k = 0; k < Uclient.Length; k++)
                        {
                            foreach (var s in Model.Number)
                            {
                                if (s.Замовник1 == Uclient[k])
                                {
                                    zam = s.Ім_я;
                                    Village = s.Населений_пункт;
                                    Phone = s.Номер_телефону;
                                }
                            }
                            <td>
                                <b>@zam @Village тел: @Phone</b>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <h2>Список замовників пустий</h2>
        }
    }
</body>
</html>
