@page
@model Sawmill.Pages.Numbers.IndexModel
@{
    ViewData["Title"] = "Мої замовлення";
    int k = 0;
    int Client = 0;
    string status;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/Home.css">
    <style>

        table {
            max-width: 90%;
            margin: 2px 5px 20px 5px;
            background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
            box-shadow: 10px 10px 30px aqua;
            border: 3px solid aqua;
        }

        th, td {
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid aqua;
            color: white;
            font-weight: normal;
        }

        .aqua {
            background-color: antiquewhite;
            color: black;
        }

        .green {
            background-color: green;
            color: black;
        }

        .yellow {
            background-color: yellow;
            color: black;
        }

        .red {
            background-color: red;
            color: black;
        }
    </style>
</head>

<body style="background-image: url(images/Фон_1.jpg)">

    @foreach (var cl in Model.Number)
    {
        if (cl.Замовник == User.Identity?.Name && cl.Status != "Виконано")
        {
            k++;
            int num = 0;
            int zam = cl.id;
            string date = cl.date;
            decimal sumAll = 0;
            decimal nAll = 0;
            status = cl.Status;

            <div class="container">
                <table>

                    <thead>
                        <tr>
                            <td colspan="6" >
                                <h2 style="text-align:center">№@zam</h2>
                            </td>
                            <td colspan="4" >
                                <h2 style="text-align:center">@date</h2>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <p>№ п/п</p>
                            </th>
                            <th>
                                Назва
                            </th>
                            <th>
                                Вис.<p>(мм.)</p>
                            </th>
                            <th>
                                Шир.<p>(мм.)</p>
                            </th>
                            <th>
                                Довж.<p>(м.)</p>
                            </th>
                            <th>
                                <div>К-сть</div>
                                <div>(шт.)</div>
                                <div>(м/п)</div>
                            </th>
                            <th>
                                Об'єм<p>(м.куб)</p>
                            </th>
                            <th>
                                Ціна<p>(грн.)</p>
                            </th>
                            <th>
                                Сума<p>(грн.)</p>
                            </th>
                            <th>
                                <p>Стан зам.</p>
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Order)
                        {


                            if (item.NumberId == zam)
                            {
                                decimal h = Convert.ToDecimal(item.Висота);
                                decimal w = Convert.ToDecimal(item.Ширина);
                                decimal l = Convert.ToDecimal(item.Довжина);
                                decimal n = Convert.ToDecimal(item.Кількість);
                                decimal volume = h * w * l * n / 1000000;
                                decimal sum = volume * item.Ціна;
                                nAll += volume;
                                Client = item.NumberId;
                                sumAll += sum;
                                num++;
                                sumAll = Convert.ToInt32(sumAll);

                                <tr>
                                    <td>
                                        @num
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Назва)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Висота)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ширина)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Довжина)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Кількість)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => volume)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ціна)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => sum)
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" >
                                <b>Всього : </b>
                            </td>
                            <td>
                                <b>@nAll </b>
                            </td>
                            <td >
                                <b></b>
                            </td>
                            <td>
                                <b>@sumAll </b>
                            </td>
                            @{
                                string cssClass = "";

                                if (status == "Очікує")
                                {
                                    cssClass = "aqua";
                                }
                                if (status == "Виконано")
                                {
                                    cssClass = "green";
                                }
                                if (status == "В роботі")
                                {
                                    cssClass = "yellow";
                                }
                                if (status == "Відхилено")
                                {
                                    cssClass = "red";
                                }
                            }
                            <td class="@cssClass" >
                                <b>@status</b>
                            </td>

                        </tr>
                    </tfoot>

                </table>
            </div>
        }
    }
    @if (k == 0)
    {
        <h2 style="color:brown; font:bolder">У Вас ще немає замовлень</h2>
        <div class="display-5">
            <a href="/Orders" class="button">
                <span class="button_text">
                    <span><b>Створити нове замовлення</b></span>
                </span>
            </a>
        </div>
    }
    else
    {
        <div class="display-5">
            <a href="/Orders" class="button">
                <span class="button_text">
                    <span><b>Створити нове замовлення</b></span>
                </span>
            </a>
        </div>
    }

</body>
</html>
